@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
}

.count__num {
  color: crimson;
  letter-spacing: 0.12em;
  font-size: 2em;
  font-weight: 600;
}
